/* whole form */
body {
    max-width: 600px;
    margin: 50px;
    font-size: 18px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#creditForm {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 5fr 1fr 1fr;
}

#cardFront {
    grid-column: 1/3;
    grid-row: 1/3;
    /* grid for front of credit card */
    display: grid;
    grid-template-columns: 2fr 1fr;

    background-color: lightgray;
    padding: 40px;
    border-radius: 20px;
}

#cardBack {
    grid-column: 2/4;
    grid-row: 2/4;
    z-index: -1;
    /* grid for back of card */
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 1fr;

    background-color: gray;
    border-radius: 20px;
}

button {
    grid-column: 3/4;
    grid-row: 4/5;

    margin: 15px;
}

/* front of credit card */
img {
    width: 100px;
}

#cardNumber {
    grid-column: 1/3;
}

#cardNumber input {
    width: 100%
}

#expiration input {
    max-width: 50px;
}

/* back of credit card */
#cvc {
    grid-column: 2/3;
    grid-row: 2/3;

    padding: 40px;
}

#cvc input {
    max-width: 70px;
}