
body {
    font-family: "Noto Sans", sans-serif;
}

/* nav and header */
h1 {
    text-align: center;
    background-color: #faedcd;
    color: #283618;
    max-width: 100%;
    padding: 50px;
    margin: -10px;
}

nav {
    background-color: #283618; 
    width: 100%;
    height: 50px;
}

ul {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    list-style-type: none;
    justify-content: end;
    justify-items: end;
}

a {
    color: #faedcd;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

/* article boxes */
.article_boxes {
    padding: 20px;
    margin: 20px;
}

#left_info {
    text-align: right;
    line-height: 10px;
    border-right: #283618 solid 2px;
}

img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

main{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.article_container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}


/* filters box */
#right_info {
    border: #283618 solid 2px;
    margin: 10px;
}

.filter p {
    padding: 10px;
}